/* src/components/css/Button.css */
.button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: Futuram;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button.mini{
  padding: 0.2rem 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(255,255,255, 0.3);
  color: white;
}

/* Variantes del botón */
.button.primary {
  background-color: rgb(75,103,250); /* Azul */
  color: white;
}

.button.primary:hover {
  background-color: rgb(75,103,200);
}

.button.secondary {
  background-color: rgb(45, 223, 0); /* Gris */
  color: white;
}

.button.secondary:hover {
  background-color: #5a6268;
}

.button.danger {
  background-color: #dc3545; /* Rojo */
  color: white;
}

.button.danger:hover {
  background-color: #c82333;
}

/* Estilos para el botón deshabilitado */
.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6;
}